.blank {
display: flex;
justify-content: center;
align-items: center;
font-size: 5vw;
height: 4.936vw;
width: 4.936vw;
min-width: 10px; 
min-height: 10px; 
border: 0.118vw solid #000;
border-radius: 0.782vw;
padding: 1.3vw;
font-family: "Trebuchet MS";
background-color: #ffffff;
box-sizing: border-box;
}


.mnemonicle-header {
  font-family: Impact;
  text-align: center;
  font-weight: bold;
  font-size: 0;
  margin-bottom: 2vh;
  top: 15vh;
}

.mnemonicle-header span {
  font-size: 3.9vw;
  -webkit-text-stroke: 0.07vw black;
}

.mn1 { color: #aaffaa; }
.mn2 { color: #bbffff; }
.mn3 { color: #aaccff; }
.mn4 { color: #ddaaff; }

hr {
  border: none;
  border-top: 0.2vw solid black;
  top: 20vw;
  width: 80%;
}

.grid {
  display: grid;
  left:0vw;
  grid-template-columns: repeat(4, minmax(10px, 4.936vw)); /* 4 columns */
  grid-template-rows: repeat(4, minmax(10px, 4.936vw));    /* 4 rows */
  gap: 0.4vw;
}

.outerWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30vh;
  width: 57vw;
}

.entireGrid {
position: relative;
}

.hidden {
visibility: hidden;
}

.dot {
border: 0.2vw solid #000;
font-size: 1.7vw;
height: 2.5vw;
width: 2.5vw;
border-radius: 50%;
top:0vw; 
color: #000000;
background-color: #fff;
display: flex;
text-decoration: none;
justify-content: center;
align-items: center;
position: absolute;
font-weight:bold;
}

.leftButtonTemplate {
display: flex;
justify-content: center;
color: #000;
align-items: center;
position: absolute;
font-size: 0.9vw;
height: 2.5vw;
width: 8.7vw;
border: 0.2vw solid #333;
border-radius: 0.7vw;
padding: 0.7vw;
background-color: #fff;
text-decoration: none;
visibility: hidden;
font-family: "Trebuchet MS";
font-weight: bold;
}

.buttons {
justify-content: center;
align-items: center;
position: absolute;
}

.right-buttons {
top: 2vw;
left: 66.3%;
}

.left-buttons {
top: 2vw;
right: 70.3%;
}

.bottomButtons {
justify-content: center;
align-items: center;
position: absolute;
width: 21.33vw;
left: 50%;
transform: translate(-50%);
top: 23vw;
}

.questions {
height: 5.3vw;
width: 33vw;
font-size: 1vw;
vertical-align: middle;
font-weight: bold;
font-family: "Trebuchet MS";
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
position: absolute;
}

.end {
border: 0.2vw solid #000;
border-radius: 0.67vw;
color: #000000;
font-size: 1.33vw;
background-color: #ffffff;
text-decoration: none;
justify-content: center;
align-items: center;
height: 32vw;
width: 25.33vw;
position: absolute;
left: 50%;
transform: translate(-50%);
top: 5.33vh;
visibility: hidden;
text-align: center;
font-family: "Trebuchet MS";
padding: 1.33vw;
}

.questionPagePopUp {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 34.67vw;
  width: 46.67vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 5.33vh;
  visibility: hidden;
  font-size: 1vw;
}

.questionsPage {
  border: 0.2vw solid #000;
  color: #000000;
  font-size: 0.9vw;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 6.67vw;
  top: 0.67vw;
  width: 53.33vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  visibility: hidden;
  text-align: left;
  font-family: "Trebuchet MS";
  padding: 1.67vw;
}

.questionsPageSci {
  border-radius: 0.67vw 0.67vw 0 0;
  top: 0vw;
  background-color: #ddffdd;
}

.questionsPageHis {
  top: 8.67vw;
  background-color: #ddffff;
}

.questionsPageCul {
  top: 17.33vw;
  background-color: #cceeff;
}

.questionsPageArt {
  top: 26vw;
  border-radius: 0 0 0.67vw 0.67vw;
  background-color: #eeddff;
}

.copybutton {
display: flex;
justify-content: center;
color: #000;
align-items: center;
position: absolute;
left: 9vw;
top: 30vw;
font-size: 1.13vw;
height: 1vw;
width: 10vw;
background-color: #fff;
border: 0.07vw solid #333;
border-radius: 0.67vw;
padding: 1.33vw;
text-decoration: none;
visibility: hidden;
font-family: "Trebuchet MS";
}

.X {
border: 0vw solid #000;
font-size:1.67vw;
display: flex;
color: #000000;
background: none;
font: cursive;
background-color: none;
position: absolute;
text-decoration: none;
justify-content: center;
align-items: center;
visibility: hidden;
}

.X_end {
height: 2vw;
width: 2vw;
top: 1vw;
left: 25vw;
}

.X_instructions {
height: 2vw;
width: 2vw;
top: 1.33vw;
left: 29.67vw;
}

.X_questions {
height: 2vw;
width: 2vw;
top: 1.13vw;
left: 48vw;
visibility: hidden;
}

.X_information {
height: 1vw;
width: 1vw;
top: 1.33vw;
left: 33.3vw;
}

.X_stats {
height: 1vw;
width: 1vw;
top: 1.67vw;
left: 25.67vw;
}

.instructionsPopUp {
border: 0.2vw solid #000;
color: #000000;
font-size: 0.87vw;
background-color: #ffffff;
text-decoration: none;
justify-content: center;
align-items: center;
text-align: left;
border-radius: 0.67vw;
height: 47vw;
width: 40vw;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
top: 3.67vw;
visibility: hidden;
padding: 2vw;
overflow-y: auto;
font-family: "Trebuchet MS";

/*new*/
height: auto;
max-height: 80vh;
/*new*/
}

/*new*/
@media (max-width: 768px) {
    .instructionsPopUp {
        font-size: 3.5vw;   /* larger text for small screens */
        width: 85vw;        /* make popup wider for readability */
        padding: 4vw;       /* increase padding proportionally */
        border-radius: 2vw; /* softer corners on mobile */
        top: 5vh;           /* space from top */
    }
}
/*new*/

.copyscreen {
display: flex;
justify-content: center;
color: #ffffff;
align-items: center;
position: absolute;
left: 41.33vw;
top: 3.33vw;
font-size: 1vw;
height: 0.33vw;
width: 11.33vw;
background-color: #000000;
border: 0.133vw solid #000;
border-radius: 0.67vw;
padding: 1.33vw;
text-decoration: none;
font-family: "Trebuchet MS";
}

.informationPopup {
border: 0.2vw solid #000;
color: #000000;
font-size: 1vw;
background-color: #ffffff;
text-decoration: none;
justify-content: center;
align-items: center;
height: 28vw;
width: 34.67vw;
position: absolute;
left: 50%;
transform: translate(-50%);
top: 7.33vw;
visibility: hidden; 
text-align: center; 
padding: 1vw;
border-radius: 0.67vw;
font-family: "Trebuchet MS";
}

.statsPopup {
border: 0.2vw solid #000;
color: #000000;
border-radius: 0.67vw;
font-size: 1.67vw;
background-color: #ffffff;
text-decoration: none;
justify-content: center;
align-items: center;
height: 13.33vw;
width: 28vw;
position: absolute;
left: 50%;
transform: translate(-50%);
top: 16.67vw;
visibility: hidden;
text-align: center;
font-family: "Trebuchet MS";
tab-size: 8;
}

#themeText {
  font-family: 'Trebuchet MS';
  font-size: 2.2vw;
  position: relative;
  top: 5vh;
  text-align: center;
  font-weight: bold;
}

.disable-selection {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

/*animations*/

@keyframes colorChange {
  0% { background-color: #99ff99; }
  33% { background-color: #99ffff; }
  66% { background-color: #88aaff; }
  100% { background-color: #bb99ff; }
}

.animate {
  animation-name: colorChange;
  animation-duration: 0.5s;
}

@keyframes correctLetter {
  0% { height: 4.936vw; width: 4.936vw; font-size: 5vw;}
  50% { height: 6.088vw; width: 6.088vw; font-size: 6.2vw; transform: translate(-0.576vw,-0.576vw);}
  100% { height: 4.936vw; width: 4.936vw; font-size: 5vw;}
}

.animateCorrectLetter {
  animation-name: correctLetter;
  animation-duration: 0.5s;
}

@keyframes incorrectLetter {
  0% { height: 4.936vw; width: 4.936vw; font-size: 5vw;}
  50% { height: 4.113vw; width: 4.113vw; font-size: 4.2vw;transform: translate(0.411vw,0.411vw);}
  100% { height: 4.936vw; width: 4.936vw; font-size: 5vw;}
}

.animateIncorrectLetter {
  animation-name: incorrectLetter;
  animation-duration: 0.5s;
}

/*keyboard*/
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers all rows horizontally */
  gap: 0.7vw; /* Adds spacing between rows */
}

.row {
  display: grid;
  gap: 0.7vw;
  justify-content: center; /* Centers the grid items within each row */
}

.row-1 {
  display: grid;
  gap: 0.75vw;
  grid-template-columns: repeat(10, 2.4vw)
}

.row-2 {
  display: grid;
  gap: 0.74vw;
  grid-template-columns: repeat(9, 2.4vw);
}

.row-3 {
  display: grid;
  gap: 0.75vw;
  grid-template-columns: repeat(9, 2.4vw);
}

.key-button {
  padding: 1.3vw;
  font-size: 2vw;
  border: 0vw;
  border-radius: 0.6vw;
  height: 0.5vw;
  width: 0.15vw;
  background-color: #ddd;
  font-weight: bold;
  margin: auto;
  font-family: "Trebuchet MS";
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key-button:hover {
  background-color: #ccc;
}

.portraitScreen {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 25%;
  transform: translateY(-50%);
  left: 0;
  display: none;
  z-index: 9999;
}

html, body {
  margin: 0;
  padding: 0;
}

/*here*/
body {
  width: 100%;
  max-width: 100%;
  text-align: center;
  overflow-x: auto;
}

#mainContainer {
margin: 0 auto;
}

/*to here*/
